@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
html,body{
  overflow-x: hidden;
}
.navbar{
	height: 80px;
}
.grid-superhero{
	padding: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap:20px;
}
.card{
	width: 300px;
	background-color: #f1f1f1;
}
.title{
	font-size: 20px;
	color: #2c2c2c;
	text-align: center;
}

.hero-details{
	padding-top: 40px;
	display: flex;
}
.hero-details img{
	width: 300px;

}